* {
    box-sizing: border-box;
}

.header{
    text-align: center;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.el{
    float: left;
    width: 33.33%;

    border: 2px solid black;
    background-color: grey;
    color: white;
    width: 30%;
    height: 150px;
    margin-left: 30px;
    position: relative;
}

.name{
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}

.col1{
    background-color: lightsalmon;
}

.col2{
    background-color: red;
}

.col3{
    background-color: yellow;
}

p{
    margin-top: 30px;
    padding-left: 5px;
}

@media (max-width: 991px) {
    .el{
        width: 45%;
    }
    .medium{
        width: 94%;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .el{
        width: 90%;
        margin-top: 20px;
    }
}